/* ===================================
   IMPORTAÇÃO DE FONTES
   =================================== */
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@400;600;700&family=Roboto:wght@400;500;700&display=swap');

/* ===================================
   VARIÁVEIS DE CORES
   =================================== */
:root {
    /* --cor-principal: #2C3E50; */
    --cor-principal: #386088;
    --cor-fundo: #ffffff;
    --cor-fundo-2: #b6b6b6;
    --cor-fundo-transparent: #b6b6b68a;
    --cor-fundo-bg-menu: #386088d8;
    --cor-fundo-shadow: rgba(0, 0, 0, 0.5);
    --cor-texto: #222222;
    --cor-subtexto: #444444;
    --cor-borda: #e0e0e0;
    --cor-destaque: #9ecceb;
    --cor-conclusao-bg: #EAF2F8;
    --cor-conclusao-borda: var(--cor-principal);
    /* ==================================
    Corres por critério 
    ================================== */
    --sem-informacao-color: var(--cor-destaque);
    --sem-informacao-color-destaq: var(--cor-principal);
    /* Azul */
    --critico-color: #ec5463;
    --critico-color-destaq: #cc0014;
    /* Vermelho */
    --alerta-color: #ff9239;
    --alerta-color-destaq: #d15e00;
    /* Laranja */
    --regular-color: #f0d463;
    --regular-color-destaq: #d4aa00;
    /* Amarelo */
    /* ==================================
    Corres dos marcadores
    ================================== */
    --cor-demografia: var(--cor-principal);
    --cor-demografia-text: #131f35;
    --cor-educacao: #3BAA75;
    --cor-educacao-text: #115232;
    --cor-criminalidade: #B03A2E;
    --cor-criminalidade-text: #551008;
}

body.dark-theme {
    --cor-fundo: #1A1A1A;
    --cor-fundo-2: #0e0d0d;
    --cor-fundo-transparent: #0e0d0d86;
    --cor-fundo-bg-menu: #38608842;
    --cor-fundo-shadow: rgba(255, 255, 255, 0.3);
    --cor-texto: #F0F0F0;
    --cor-subtexto: #CCCCCC;
    --cor-borda: #333333;
    --cor-destaque: #34495E;
    --cor-conclusao-bg: #2C3E50;
    --cor-conclusao-borda: #5DADE2;
}

.dark-theme .slide {
    box-shadow: 0 10px 20px var(--cor-fundo-shadow);
}




/* Botão de alternância */
#toggle-theme {
    position: fixed;
    top: 1rem;
    right: 0.5rem;
    height: 3rem;
    width: 3rem;
    background: var(--cor-fundo-transparent);
    color: var(--bg-color);
    border: none;
    border-radius: 999px;
    font-size: 1.2rem;
    cursor: pointer;
    box-shadow: 0 2px 6px var(--cor-borda);
    transition: background 0.3s ease;
    z-index: 1000;
}

#toggle-theme:hover {
    opacity: 0.9;
}

/* ===================================
   BASE E ESTRUTURA
   =================================== */
*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
}

::-webkit-scrollbar {
    display: none;
    width: 0;
}

html,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100%;
    max-width: 100vw;
    overflow-x: hidden;
    background-color: var(--cor-fundo-2);
    color: var(--cor-texto);
    font-family: 'Roboto', sans-serif;
}

details div {
    border-radius: 12px;
}

summary {
    cursor: pointer;

}

/* ===================================
   TÍTULOS
   =================================== */
h1 {
    font-family: 'Merriweather', serif;
    font-size: 36px;
    font-weight: 700;
    color: var(--cor-principal);
    margin: 2rem 0 1rem;
}

h2 {
    font-family: 'Merriweather', serif;
    font-size: 28px;
    font-weight: 600;
    color: var(--cor-subtexto);
    margin: 1.5rem 0 0.75rem;
}

/* ===================================
   PARÁGRAFOS E TEXTOS
   =================================== */
p {
    font-size: 16px;
    color: var(--cor-texto);
    margin-bottom: 1rem;
}

.conclusao {
    font-family: 'Roboto', sans-serif;
    font-size: 17px;
    font-weight: 500;
    font-style: italic;
    background-color: var(--cor-conclusao-bg);
    border-left: 4px solid var(--cor-conclusao-borda);
    color: var(--cor-texto);
}

.marker-page {
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: absolute;
    width: fit-content;
    padding: 0.2rem;
    border-radius: 0 25px 25px 0;
    font-weight: 700;
    height: 2rem;
    background-color: var(--cor-principal);
}

.marker-page p {
    color: var(--cor-texto-marcador) !important;
    line-height: 2rem;
    margin-right: 1rem;
}

.cat-demografia {
    background-color: var(--cor-demografia) !important;
    color: var(--cor-demografia-text) !important;
}

.cat-educacao {
    background-color: var(--cor-educacao) !important;
    color: var(--cor-educacao-text) !important;
}

.cat-criminalidade {
    background-color: var(--cor-criminalidade) !important;
    color: var(--cor-criminalidade-text) !important;
}

/* ===================================
   TABELAS
   =================================== */
table {
    min-width: 100%;
    width: 100%;
    border-collapse: collapse;
    margin: 1.5rem 0 2rem;
    border-radius: 12px;
}

th {
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    font-weight: 700;
    background-color: var(--cor-destaque);
    color: var(--cor-texto);
    padding: 8px;
    text-align: left;
    border-bottom: 2px solid var(--cor-borda);
}

td {
    font-size: 14px;
    color: var(--cor-subtexto);
    padding: 6px 8px;
    border-bottom: 1px solid var(--cor-borda);
}

/* ===================================
   Paginas (slides)
   =================================== */

.slide {
    width: 90%;
    max-width: 1000px;
    background: var(--cor-fundo);
    padding: 40px;
    margin: 30px 0;
    border-radius: 12px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
}

/* ===================================
   listas
   =================================== */
.list-item {
    background: var(--cor-destaque);
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 8px;
    border-left: 5px solid var(--primary-color);
    transition: background-color 0.3s ease;
}

.list-item:hover {
    color: #333;
    background-color: var(--cor-fundo-2);
}

.list-item strong {
    color: var(--secondary-color);
}

/* ===================================
   Separadores de grupo
   =================================== */
.classificacao-nota-explicacao {
    color: black !important;
}

.classificacao-nota-explicacao div * {
    color: black !important;
}

.nivel-critico {
    background-color: var(--critico-color) !important;
    color: black !important;
    border-left: 5px solid var(--critico-color-destaq) !important;
}

.nivel-alerta {
    background-color: var(--alerta-color) !important;
    color: black !important;
    border-left: 5px solid var(--alerta-color-destaq) !important;
}

.nivel-regular {
    background-color: var(--regular-color) !important;
    color: black !important;
    border-left: 5px solid var(--regular-color-destaq) !important;
}

.sem-informacao {
    background-color: var(--sem-informacao-color) !important;
    color: black !important;
    border-left: 5px solid var(--sem-informacao-color-destaq) !important;
}

.nivel-box strong {
    padding-left: 15px;
}

.nivel-box p {
    padding-left: 15px;
}

/* ===================================
   Carrosel
   =================================== */
.carousel-container {
    position: relative;
    width: 100%;
    overflow: hidden;
    padding: 0 5vw;
    gap: 10px;
}

.carousel-slides {
    display: flex;
    overflow-x: auto;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
    width: 100vw;
}

.carousel-slide {
    flex: 0 0 100%;
    overflow-x: hidden;
    box-sizing: border-box;
    scroll-snap-align: start;
    width: 100vw;
}

.carousel-slide div {
    overflow-x: hidden;
    box-sizing: border-box;
    width: 82vw;
    border-radius: 12px;
    align-content: center;
}

.carousel-arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(0, 0, 0, 0.4);
    color: white;
    font-size: 2rem;
    padding: 0.5rem 1rem;
    cursor: pointer;
    z-index: 10;
    user-select: none;
}

.carousel-arrow.left {
    left: 10px;
}

.carousel-arrow.right {
    right: 10px;
}

/* ===================================
   Lista em grid
   =================================== */
.indices-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
    text-align: left;
}

.indices-grid h4 {
    border-bottom: 2px solid #ccc;
    padding-bottom: 5px;
    margin-bottom: 10px;
}

.indices-grid ul {
    list-style-type: none;
    padding-left: 0;
    line-height: 1.5;
}

.indices-grid ul ul {
    list-style-type: disc;
    padding-left: 20px;
    font-size: 0.95em;
}

/* ===================================
   Gráfico
   =================================== */
.bar-chart-horizontal {
    display: flex;
    flex-direction: column;
    gap: 8px;
    max-width: 100%;
    padding: 1rem 0;
}

.bar {
    position: relative;
    height: 32px;
    width: var(--width);
    background-color: var(--cor-destaque);
    border-radius: 4px;
    display: flex;
    align-items: center;
    padding-left: 10px;
    font-size: 0.85rem;
    font-weight: 500;
    overflow: hidden;
}

.bar::before {
    content: attr(data-label);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* ===================================
   Formula
   =================================== */
#box-formula {
    display: flex;
    flex-direction: row;
    border-radius: 12px;
    padding: 10px;
    gap: 20px;
}

#box-formula-legenda {
    text-align: left;
    height: 100%;
    width: fit-content;
}

.formula-ideb {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding: 1rem;
    border: 1px solid var(--cor-borda);
    border-radius: 12px;
    font-size: 1rem;
    text-align: center;
    width: fit-content;
    gap: 10px;
    max-width: fit-content;
}

.formula-ideb span {
    width: 50px;
}

.formula-element {
    font-weight: bold;
    white-space: normal;
    width: fit-content;
    text-wrap: nowrap;
}

.formula-fraction {
    display: flex;
    flex-direction: column;
    border-radius: 6px;
    padding: 0.5rem;
    box-sizing: border-box;
    margin: 0 auto;
    width: 70px !important;
}

.formula-fraction span {
    width: 70px;
}

.formula-denominator {
    border-top: 1px solid var(--cor-borda);
}

#map-cisp iframe {
    padding: 0;
    border-radius: 12px;
}

/* Menu lateral */
#sumario-flutuante {
    position: fixed;
    right: 0;
    top: 0;
    width: 260px;
    height: 100vh;
    background-color: var(--cor-fundo-bg-menu);
    color: var(--cor-conclusao-bg);
    padding: 2rem 1.2rem;
    box-shadow: 0 10px 20px var(--cor-fundo-shadow);
    transform: translateX(100%);
    transition: transform 0.3s ease;
    z-index: 1000;
    overflow-y: auto;
}

#sumario-flutuante.ativo {
    transform: translateX(0);
}

/* Links */
#sumario-flutuante ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

#sumario-flutuante li {
    margin-bottom: 1.2rem;
}

#sumario-flutuante a {
    color: #ecf0f1;
    text-decoration: none;
    font-weight: 500;
    display: block;
    padding: 6px 0;
}

#sumario-flutuante a:hover {
    color: #AED6F1;
}

/* Botão toggle */
#toggle-sumario {
    position: fixed;
    top: 20px;
    right: 20px;
    background-color: #2C3E50;
    color: white;
    border: none;
    padding: 10px 14px;
    font-size: 16px;
    border-radius: 8px;
    cursor: pointer;
    z-index: 1100;
}

/* ===================================
   MEDIA QUERIES
   =================================== */

/* Extra Pequenos: até 480px */
@media (max-width: 480px) {
    body {
        font-size: 15px;
        padding: 0;
    }

    .slide {
        padding: 1rem 0;
    }

    h1 {
        font-size: 25px;
    }

    h2 {
        font-size: 20px;
    }

    .conclusao {
        font-size: 14px;
    }

    .carousel-arrow {
        display: none;
    }

    .carousel-slide div table {
        overflow: hidden;
    }
}


/* Pequenos: até 600px */
@media (max-width: 600px) {
    body {
        padding: 0.3rem;
    }

    .slide {
        width: auto;
        max-width: 100%;
        padding: 1rem 0.3rem;
    }

    .marker-page {
        left: 0.3rem;
        padding: 0 10PX;
    }

    table {
        display: block;
        overflow-x: auto;
        white-space: nowrap;
    }

    th,
    td {
        font-size: 13px;
        padding: 5px 6px;
    }

    h1 {
        font-size: 30px;
    }

    h2 {
        font-size: 24px;
    }

    .bar-chart {
        gap: 5px;
    }

    #box-formula {
        flex-direction: column;
    }

    .carousel-arrow {
        display: none !important;
    }

    .carousel-slide div table {
        overflow: hidden;
    }

}

/* Médios: até 768px */
@media (max-width: 768px) {
    .slide {
        width: auto;
        max-width: calc(100% - 0.6rem);
    }

    .conclusao {
        padding: 0.75rem;
    }

    th {
        font-size: 14px;
    }

    td {
        font-size: 13.5px;
    }

    .carousel-arrow {
        display: none !important;
    }

    #sumario-flutuante {
        width: 80%;
    }

    #toggle-sumario {
        display: block;
        padding: 12px 16px;
        font-size: 18px;
    }
}

/* Grandes: a partir de 1024px */
@media (min-width: 769px) {
    body {
        padding: 2rem 4rem;
    }

    .slide {
        width: auto;
        max-width: 100%;
        padding-top: 1rem;
    }

    .marker-page {
        left: 4rem;
        padding: 0 10PX;
    }

    table {
        max-width: 100%;
    }

    .conclusao {
        max-width: 900px;
        margin-left: auto;
        margin-right: auto;
    }

    .carousel-slide div table {
        overflow: hidden;
    }

    .carousel-container {
        padding: 0;
    }

    .carousel-slide div {
        width: 100%;
    }

    #toggle-sumario.oculto {
        display: none;
    }
}